.App {
  text-align: center;
}

.App-logo {
  height: 17vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
}

.App-link {
  font-size: 20px;
  color: #61dafb;
  text-decoration: none;
  display: inline-block; /* Hace que el enlace solo ocupe el espacio necesario */
  position: relative; /* Necesario para la línea debajo */
  transition: color 0.3s ease, transform 0.6s ease;
}

.App-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #21a1f1; 
  transition: width 0.3s ease, left 0.3s ease;
}

.App-link:hover {
  color: #21a1f1;
  transform: scale(1.02); 
  transform-origin: center;
}

.App-link:hover::after {
  width: 100%;
  left: 0;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
